.SkySelection {
    margin: 20px;
    position: absolute;
    display: inline-block;
    padding: 15px;
    background-color: #FFD966;
    border-radius: 10px;
    top: 35px;
    left: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SkySelection p {
    margin-right: 20px;
}

.sky-select {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}